.font-result{
	color: #111;
	font-weight: 500;
}

.font-panel-title-1{
	font-weight: 600;
	font-size: 120%;
	color: $font_color;
	margin: 0;

}

.font-panel-title-2{
	font-weight: 500;
	font-size: 110%;
	color: $font_color;
	margin: 0;
}

.description_font{
	color: #111;	
}

.panel-heading{
	text-transform: capitalize;
}

.font-RSS-title{
	text-decoration: none;
	font-size: 110%;
	font-weight: 600;
}

.font-RSS-content{

}

.font-RSS-date{
	font-size: 85%;
	font-weight: 700
}



.top_bar_font{
	text-decoration: none;
	color: $font_color;
	font-weight: 600;
}

.footer_font{
	font-weight: 600;
	color: $font_color;
}